@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'Outfit';
}

@theme {
  --color-primary-50: #f9f9f9;
  --color-primary-100: #f0f0f0;
  --color-primary-200: #d9d9d9;
  --color-primary-300: #bfbfbf;
  --color-primary-400: #8c8c8c;
  --color-primary-500: #595959; /* Mid-gray / base */
  --color-primary-600: #404040;
  --color-primary-700: #262626;
  --color-primary-800: #141414;
  --color-primary-900: #000000; /* Black */
  --color-accent-50: #e6f9f0;
  --color-accent-100: #c2f0d9;
  --color-accent-200: #99e6c2;
  --color-accent-300: #66d9a8;
  --color-accent-400: #33cc8f;
  --color-accent-500: #00b26b; /* Base */
  --color-accent-600: #00995c;
  --color-accent-700: #007a4a;
  --color-accent-800: #005c39;
  --color-accent-900: #003d26;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --font-outfit: 'Outfit Variable', sans-serif;
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
}
