@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
  font-family: 'Outfit';
  scroll-behavior: smooth;
}

@theme {
  --color-primary-50: #f9f9f9;
  --color-primary-100: #f0f0f0;
  --color-primary-200: #d9d9d9;
  --color-primary-300: #bfbfbf;
  --color-primary-400: #8c8c8c;
  --color-primary-500: #595959; /* Mid-gray / base */
  --color-primary-600: #404040;
  --color-primary-700: #262626;
  --color-primary-800: #141414;
  --color-primary-900: #000000; /* Black */
  --color-accent-50: #fff8f1;
  --color-accent-100: #ffe9cc;
  --color-accent-200: #ffd199;
  --color-accent-300: #ffb866;
  --color-accent-400: #ff9f33;
  --color-accent-500: #ff7a00; /* Base orange – warm, vivid */
  --color-accent-600: #e66e00;
  --color-accent-700: #cc6200;
  --color-accent-800: #994900;
  --color-accent-900: #663000;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --font-outfit: 'Outfit Variable', sans-serif;
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
}
